.body{
  font-family: 'Cute Font', sans-serif;
  font-size: 20vh;
}

.container{
  height:100%;
  text-align: center;
  padding : 10vh;
  position: relative;
}

.container::before{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTLmD5bCFfZgrNVG97OiTV_SLT0aE_lfvbQsEv7vqqWwtXWI6lR9GJa28LFgvPaq7QiD0&usqp=CAU');
 position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  content: '';
  inset:0;
  opacity: 0.4;
}


.result-display{
  margin-left:auto;
  margin-right:auto;
  background: #000000;
  color:white;
  font-family: 'Cute Font', sans-serif;
  width : 50vh;
  text-align:center;
  padding : 5px;
  border-radius : 5px;
  isolation: isolate;
}
button{
  font-family: 'Lobster', sans-serif;
  padding : 5px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(180deg, rgb(140, 140, 140) 0%, rgb(255, 255, 255) 50%, rgba(140, 140, 140) 100%);
  color : rgb(0, 0, 0);
  font-size: large;
  isolation: isolate;
}
button:hover{
  background: linear-gradient(180deg, rgb(0, 49, 155) 0%, rgb(99, 147, 235) 50%, rgba(0, 49, 155) 100%);
  color : white;
  font-size: large;
  cursor:pointer;
}
h1{
  isolation: isolate;
}
#user-input{
  isolation: isolate;
}

@media screen and (max-width: 48rem) {
  .pre-title {
    font-size: 10vw;
  }
  .title {
    font-size: 12vw;
  }
  .sub-title {
    font-size: 11vw;
  }
  .form-control {
    font-size: 8vw;
    max-width: 500px;
    margin-right: 0px;
  }
  .main-img {
    width: 40vw;
  }
  .button-reset {
    font-size: 5vw;
    width: 80px;
    height: 60px;
  }
}