body{
  margin:0;
  background-image: url('img/3234109.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  background-color: white;
  width: 60%;
  min-height: 100vh;
  box-shadow: 5px 5px 20px;;
}

.task-area{
  border: 1px solid rgb(127, 127, 127);
  margin-top:2em;
}

.task-tabs{
  border-bottom: solid 1px rgb(187, 187, 187);
  display: flex;
  position:relative;
}

#all:hover{
  background-color: rgb(0, 221, 255);
  font-weight: bolder;
}
#onGoing:hover{
  background-color: rgb(0, 221, 255);
  font-weight: bolder;
}
#completed:hover{
  background-color: rgb(0, 221, 255);
  font-weight: bolder;
}

.task-tabs div{
  padding :1em;
  cursor: pointer;
}

#underline{
  height:4px;
  background-color: aqua;
  position: absolute;
  width:65px;
  left:0px;
  top:53px;
  padding:0px;
}

.task{
  display: flex;
  justify-content: space-between;
  padding:1em;
}